/* Single product  */

#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    /* background-color: ; */
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;    
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{   /*for removing the outline of quantity box*/
    outline: none;
}       

#prodetails .single-pro-details button{
    background-color: #64748b;
    color: #fff;
}
#prodetails .single-pro-details button:hover{
    background-color: #334155;
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}
.section-p1{
    padding: 40px 80px;
}

@media(max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
}

@media(max-width:477px){
    .section-p1{
        padding: 20px;
    }

     /* Single Product */
     #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }

}